<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header><ion-icon name="thunderstorm"></ion-icon> Detalhes {{ entities?.data | date}}</ion-card-header>
    <ion-item-group>

      <ion-item-divider color="light">Campo Informativo</ion-item-divider>
      <ion-item-divider color="light">Y Y G G lw</ion-item-divider>
      <ion-item><a> {{entities?.campoInformativo}} </a></ion-item>

      <ion-item-divider color="light">Campo Indentificação</ion-item-divider>
      <ion-item-divider color="light"> i  i  i  i</ion-item-divider>
      <ion-item><a> {{entities?.campoIdentidade}} </a></ion-item>

      <ion-item-divider color="light">Campo Ambiente</ion-item-divider>
      <ion-item-divider color="light">Ir Ix h V V</ion-item-divider>
      <ion-item><a> {{entities?.campoAmbiente}}</a></ion-item>

      <ion-item-divider color="light">Nuvens e Vento</ion-item-divider>
      <ion-item-divider color="light">N d d f f</ion-item-divider>
      <ion-item><a> {{entities?.campoNuvenseVento}}</a></ion-item>

      <ion-item-divider color="light">Campo Temperatura</ion-item-divider>
      <ion-item-divider color="light">1 Sn T T T</ion-item-divider>
      <ion-item><a>1 {{entities?.camposTemperatura}}</a></ion-item>

      <ion-item-divider color="light">Orvalho</ion-item-divider>
      <ion-item-divider color="light">2 Sn Td Td Td</ion-item-divider>
      <ion-item><a>2 {{entities?.campoOrvalho}}</a></ion-item>

      <ion-item-divider color="light">Pressão Estação</ion-item-divider>
      <ion-item-divider color="light">  Po Po Po Po</ion-item-divider>
      <ion-item><a>3 {{entities?.campoPressaoEstacao}}</a></ion-item>

      <ion-item-divider color="light">Pressão do Mar</ion-item-divider>
      <ion-item-divider color="light">4 P P P P</ion-item-divider>
      <ion-item><a>4 {{entities?.campoPressaoMar}}</a></ion-item>

      <div *ngIf="entities.tempPassadoPresente">
      <ion-item-divider color="light">Tempo Passado/Presente</ion-item-divider>
      <ion-item-divider color="light">w w W¹ W²</ion-item-divider>
      <ion-item><a> {{entities?.tempPassadoPresente}}</a></ion-item>
      </div>

      <ion-item-divider color="light">Tipos de Nuvens</ion-item-divider>
      <ion-item-divider color="light">8 Nh Cl Cm Ch</ion-item-divider>
      <ion-item><a>8 {{entities?.tiposdeNuvens}}</a></ion-item>

      <!-- <ion-item-divider color="light">Campo Indentificação</ion-item-divider>
      <ion-item-divider color="light">Y Y G G lw</ion-item-divider>
      <ion-item><a> {{entities?.pontoOrvalho}}</a></ion-item>

      <ion-item-divider color="light">Campo Indentificação</ion-item-divider>
      <ion-item-divider color="light">Y Y G G lw</ion-item-divider>
      <ion-item><a> </a></ion-item>

      <ion-item-divider color="light">Y Y G G lw</ion-item-divider>
      <ion-item><a> {{entities?.pressaoAtmosferica}}</a></ion-item>
      <ion-item><a> {{entities?.qtdChuva}}</a></ion-item> -->
    </ion-item-group>
  </ion-card>
</ion-content>
