<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Synops Cadastrados</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-fab right bottom>
        <button ion-fab color="primary" (click)="launchAdd()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>

  <div *ngIf="entities">
   <ion-card *ngFor="let item of entities">
    <ion-card-header>
        <ion-icon name="thunderstorm"></ion-icon> <a> {{ item.key | date:'dd/MM/yyyy' }}</a>
    </ion-card-header>
    <ion-row no-padding>

    <ion-col>
      <button ion-item (click)="launchView(item)"><ion-icon name="eye"></ion-icon><a>Detalhes</a></button>
    </ion-col>
    <ion-col>
      <button ion-item><ion-icon name="trash"></ion-icon><a>Excluir</a></button>
    </ion-col>
    <ion-col>
      <button ion-item><ion-icon name="download"></ion-icon><a>Baixar</a></button>
    </ion-col>

  </ion-row>
  </ion-card>
  </div>
  <div *ngIf="!entities">
    <ion-card *ngFor="let item of entities">
      <ion-card-header>
          <a> Nenhum Synop Cadastrado :(</a>
      </ion-card-header>
   </ion-card>
  </div>
</ion-content>
